<mat-toolbar color="primary">
  <nav style="margin-left: auto">
    <a mat-button routerLink="/user" routerLinkActive="router-link-active">Profile</a>
    <a mat-button routerLink="/products" routerLinkActive="router-link-active">Products</a>
    <a mat-button routerLink="user/orders" routerLinkActive="router-link-active">Orders</a>
    <a mat-button routerLink="user/cart" routerLinkActive="router-link-active">Cart</a>
    <a style="float: right" (click)="logout()" routerLinkActive="router-link-active" mat-button routerLink="/login">Logout</a>
  </nav>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loading" color="accent" mode="indeterminate">
</mat-progress-bar>
<router-outlet></router-outlet>
