/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-group {
    width: 25%;
    margin: 50px auto;
    padding: 90px 30px;
}

.error {
    color: brown;
}

input.ng-invalid.ng-touched {
    border: 1px solid brown;
}